{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Somaiya Quora</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'blogs' %}">Blogs</a></li>
            <li><a href="{% url 'post-create' %}">Post</a></li>
            <li ><a href="{% url 'txt_sum' %}">TxtSum</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>

        </ul>
      </nav><!-- .nav-menu -->


    </div>
  </header><!-- End Header -->

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Welcome to your Profile</h2>
        <p>Let your peers know what your interests and hobbies are! </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="">
          </div>
         <!-- <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Who is {{ user.username }}?</h3>
            <p class="font-italic">
              Name- {{ user.profile.user }}<br>
              Email- {{ user.email }}
            </p>
            <p class="font-italic">
              {{ user.profile.bio }}
            </p>-->
            {% block content %}
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="form-group">
                {{ u_form.as_p }}
                {{ p_form.as_p }}
              </fieldset>
              <div class="form-group">
                <button class="btn btn-secondary btn-sm mt-1 mb-1" type="submit">Update Information</button>
              </div>
            </form>
            {% endblock content %}


            
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">12</span>
            <p>Number of blogs posted</p>
          </div>

          
        </div>

      </div>
    </section><!-- End Counts Section -->

    
  </main><!-- End #main -->

 <!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Somiya Quora</h3>
          <p>
            KJ Somaiya College of Engineering <br>
            Ghatkopar, Mumbai<br>
            Maharashtra <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> abc@somaiya.edu<br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'profile' %}">Profile</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'blogs' %}">Blogs</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Communities</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Computer</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Information Technology</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Electronics</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Electronics and Tele Communications</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Mechanical</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="mr-md-auto text-center text-md-left">
      <div class="copyright">
      
      </div>
      <div class="credits">
       
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer><!-- End Footer -->
  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

 <!-- Vendor JS Files -->
 <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
 <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
 <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
 <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
 <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
 <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
 <script src="{% static 'vendor/aos/aos.js' %}"></script>

 <!-- Template Main JS File -->
 <script src="{% static 'js/main.js' %}"></script>

</body>

</html>